@import "../imports/pixelated-corners"

.gamesetup
  height: 100vh
  width: 100vw
  display: flex
  flex-direction: column
  justify-content: center

.window
  @extend .corner
  position: relative
  backdrop-filter: var(--var-backdrop-blur)
  display: flex
  flex-direction: row
  align-items: center
  justify-content: center
  padding: 0px
  height: 400px
  width: 100%
  transition: var(--var-transition)
  background: var(--var-interface-background)

.wrapper
  width: 100%
  max-width: 1600px
  display: flex
  flex-direction: row

.top
  @extend .corner
  backdrop-filter: var(--var-backdrop-blur)
  z-index: 4
  display: flex
  position: relative
  padding: 10px
  background: var(--var-buttons-bg)
  transition: var(--var-transition)
  justify-content: center
  a
    @extend .corner
    display: flex
    align-items: center
    justify-content: center
    position: absolute
    top: 0px
    left: 0px
    padding: 10px 20px
    transition: var(--var-transition)
    background: var(--var-buttons-bg)
    &:hover
      background: var(--var-buttons-bg-hover)

.description
  flex: 1
  border: none
.setup
  border: none
  // border-left: 1px var(--var-buttons-bg) solid
  border-right: 1px var(--var-buttons-bg) solid
  display: flex
  flex-direction: column
  flex: 2
  table
    display: flex
    align-items: center
    flex-direction: row
    margin: 2px 0px
    width: 400px
.settings
  border: none
  flex: 1
  display: flex
  flex-direction: column

.select, .input
  box-sizing: border-box
  width: 200px
  background: var(--var-buttons-bg)
  color: var(--var-font-color)
  padding: 5px 10px
  border: none
  outline: none

.startGame
  @extend .corner
  cursor: pointer
  background: var(--var-buttons-bg)
  color: var(--var-font-color)
  padding: 15px 20px
  border: none
  width: 200px
  transition: var(--var-transition)
  &:hover
    background: var(--var-buttons-bg-hover)
