@import "./imports/pixelated-corners"
.bottombar
  @extend .corner
  position: fixed
  bottom: 0px
  padding: 0px 20px 0px 8px
  transition: var(--var-transition)
  left: 0px
  right: 0px
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-between
  background: var(--var-buttons-bg)
  z-index: 100
  backdrop-filter: var(--var-backdrop-blur)

.icons
  padding: 12px
  display: flex
  transition: var(--var-transition)
  justify-content: center
  @extend .corner
  align-items: center
  &:hover
    background: #ffffff20
    cursor: pointer

.userStats
  padding: 0px 20px 0px 20px
  @extend .corner
  display: flex
  flex-direction: row
  align-items: center
  cursor: pointer
  justify-content: center
  transition: var(--var-transition)
  text-align: right
  &:hover
    background: #50505050
  div
    margin: 0px 5px
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    div
      display: flex
      justify-content: space-between
      align-items: center
      flex-direction: row

.profileImage
  border-radius: 50px
  overflow: hidden

.lvl
  font-size: 15px
.exp
  display: flex
  width: 100%
  justify-content: space-between
  font-size: 20px
  span
    &:first-child
      flex: 1
      font-size: 16px
    &:last-child
      text-align: center
      flex: 4
      max-width: 200px
      word-break: break-all
      
.accountSettingsWrapper
  display: block
  position: fixed
  width: 100vw
  height: 100vh
  top: 0px
  left: 0px
.accountSettings
  @extend .corner
  backdrop-filter: var(--var-backdrop-blur)
  transition: var(--var-transition)
  position: fixed
  display: block
  right: 0px
  bottom: 44px
  padding: 10px
  width: 340px
  background: var(--var-interface-background)
  .section
    flex-direction: column
    display: flex
    align-items: flex-start
    justify-content: center
    div
      display: flex
      flex-direction: row
      width: 340px
      input, button
        background: var(--var-buttons-bg)
        color: var(--var-font-color)
        border: none
        border-radius: 5px
        outline: none
        padding: 5px 5px
        margin: 5px 2px
      input
        flex: 4
      button
        flex: 1
        cursor: pointer
.hideAccounts
  right: -361px !important