.index
  height: 100vh
  widows: 100vw
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  padding: 0px 100px

.logo
  pointer-events: none
  flex: 1
  font-size: 20pt
  text-align: center
  .version
    font-size: 10pt

.buttons
  display: flex
  align-items: center
  flex-direction: column
  text-align: right
  flex: 1
  button
    border: none
    color: var(--var-font-color)
    padding: 10px 20px
    margin: 5px 0px
    width: 230px
    text-align: center
    border-radius: 10px
    background: var(--var-buttons-bg)
    backdrop-filter: blur(1px)
    font-size: 14pt
    transition: var(--var-transition)
    &:enabled:hover
      cursor: pointer
      background: var(--var-buttons-bg-hover)
    &:disabled
      background: #ad5f5f50 !important
      color: #a1a1a190 !important