:root
  --var-transition: 200ms
  --var-backdrop-blur: blur(2px)

html[dark-theme="false"]
  --var-bg-color: #eeeeee
  --var-bg: url("../assets/images/triangles-white.png")
  --var-font-color: #000000
  --var-buttons-bg: #dddddd80
  --var-buttons-bg-hover: #ffffff80
  --var-buttons-disabled: #cccccc80
  --var-buttons-disabled-font: #909090
  --var-interface-background: #bbbbbbaa

html[dark-theme="true"]
  --var-bg-color: #131313
  --var-bg: url("../assets/images/triangles-dark.png")
  --var-font-color: #ffffff
  --var-buttons-bg: #30303080
  --var-buttons-bg-hover: #50505080
  --var-buttons-disabled: #20202080
  --var-buttons-disabled-font: #cccccc50
  --var-interface-background: #30303050

html[transparency="false"][dark-theme="false"]
  --var-buttons-bg: #bbbbbb
  --var-buttons-bg-hover: #cccccc
  --var-buttons-disabled: #cccccc
  --var-buttons-disabled-font: #909090
  --var-interface-background: #cecece

html[transparency="false"][dark-theme="true"]
  --var-buttons-bg: #303030
  --var-buttons-bg-hover: #505050
  --var-buttons-disabled: #202020
  --var-buttons-disabled-font: #cccccc
  --var-interface-background: #202020

html[transparency="false"]
  --var-gamepage-bg: none
html[transparency="true"]
  --var-gamepage-bg: var(--var-interface-background)

html[animations="false"]
  --var-transition: none

[data-impact="high"]
  --var-impact: #ff4040
[data-impact="medium"]
  --var-impact: #ffcc40
[data-impact="low"]
  --var-impact: lightgreen


@font-face 
  font-family: scp
  src: url("../assets/fonts/SourceCodePro-Regular.ttf")
  

a
  color: var(--var-font-color)
  text-decoration: none
  font-family: scp
  letter-spacing: normal

body
  font-family: scp
  transition: var(--var-transition)
  color: var(--var-font-color)
  width: 100vw
  height: 100vh
  margin: 0px
  padding: 0px
  overflow: hidden
  background: var(--var-bg-color)
  &>*
    user-select: none

.content
  position: relative
  top: 0px
  left: 0px
  z-index: 100000 !important