:root
  --var-transition: 200ms
  --var-backdrop-blur: blur(2px)
  --var-field-cells-clicked: none

html[dark-theme="false"]
  --var-bg-color: #eeeeee
  --var-bg: url("../assets/images/triangles-white.png")
  --var-font-color: #000000
  --var-buttons-bg: #dddddd80
  --var-buttons-bg-hover: #ffffff80
  --var-buttons-disabled: #cccccc80
  --var-buttons-disabled-font: #909090
  --var-interface-background: #bbbbbbaa
  --var-field-bg: #bbbbbbaa
  --var-field-cells: #eaeaea
  // --var-field-cells-clicked: #d4d4d4
  --var-field-cells-hover: #b4b4b4
  
  [data-bombs="0"]
    --var-bombs-color: var(--var-field-cells-clicked)
  [data-bombs="1"]
    --var-bombs-color: #a8ff8e
  [data-bombs="2"]
    --var-bombs-color: #eeff8e
  [data-bombs="3"]
    --var-bombs-color: #ffbb8e
  [data-bombs="4"]
    --var-bombs-color: #ff8e8e
  [data-bombs="5"]
    --var-bombs-color: #ff8ebd
  [data-bombs="6"]
    --var-bombs-color: #b98eff
  [data-bombs="7"]
    --var-bombs-color: #908eff
  [data-bombs="8"]
    --var-bombs-color: #8355cc
  [data-bombs="9"]
    --var-bombs-color: #da3939

  [transparency="false"]
    --var-buttons-bg: #bbbbbb
    --var-buttons-bg-hover: #cccccc
    --var-buttons-disabled: #cccccc
    --var-buttons-disabled-font: #909090
    --var-interface-background: #cecece

html[dark-theme="true"]
  --var-bg-color: #131313
  --var-bg: url("../assets/images/triangles-dark.png")
  --var-font-color: #ffffff
  --var-buttons-bg: #30303080
  --var-buttons-bg-hover: #50505080
  --var-buttons-disabled: #20202080
  --var-buttons-disabled-font: #cccccc50
  --var-interface-background: #30303050
  --var-field-bg: #303030aa
  --var-field-cells: #404040
  // --var-field-cells-clicked: #353535
  --var-field-cells-hover: #313131
  
  [data-bombs="0"]
    --var-bombs-color: var(--var-field-cells-clicked)
  [data-bombs="1"]
    --var-bombs-color: #4a793c
  [data-bombs="2"]
    --var-bombs-color: #97974a
  [data-bombs="3"]
    --var-bombs-color: #9b7b4c
  [data-bombs="4"]
    --var-bombs-color: #a5534e
  [data-bombs="5"]
    --var-bombs-color: #ac5277
  [data-bombs="6"]
    --var-bombs-color: #6a489e
  [data-bombs="7"]
    --var-bombs-color: #58579b
  [data-bombs="8"]
    --var-bombs-color: #5d3d92
  [data-bombs="9"]
    --var-bombs-color: #a53d3d

  [transparency="false"]
    --var-buttons-bg: #303030
    --var-buttons-bg-hover: #505050
    --var-buttons-disabled: #202020
    --var-buttons-disabled-font: #cccccc
    --var-interface-background: #202020

html[transparency="false"]
  --var-gamepage-bg: none
html[transparency="true"]
  --var-gamepage-bg: var(--var-interface-background)
html[animations="false"]
  --var-transition: none

[data-impact="high"]
  --var-impact: #ff4040
[data-impact="medium"]
  --var-impact: #ffcc40
[data-impact="low"]
  --var-impact: lightgreen

@font-face 
  font-family: scp
  src: url("../assets/fonts/SourceCodePro-Regular.ttf")
  

a
  color: var(--var-font-color)
  text-decoration: none
  font-family: scp
  letter-spacing: normal

body
  font-family: scp
  transition: var(--var-transition)
  color: var(--var-font-color)
  width: 100vw
  height: 100vh
  margin: 0px
  padding: 0px
  overflow: hidden
  background: var(--var-bg-color)
  &>*
    user-select: none

.content
  position: relative
  top: 0px
  left: 0px
  z-index: 100000 !important