@import "./imports/pixelated-corners"

.toggle
  padding: 7px 12px
  background: #353535
  @extend .toggleCorner
  color: #fff
  border: none
  transition: var(--var-transition)
  min-width: 55px
  cursor: pointer
  &:hover
    background: #404040
    

.toggleOn
  background: #94ff6a88
  &:hover
    background: #94ff6aaa

.levelProgress
  width: max-content
  display: flex
  width: 200px
  flex-direction: row !important
  span
    background: #818181
    display: inline-block
    padding: 2px
    height: 2px
    &:last-child
      background: #3d3d3d

.select
  z-index: 100
  flex-direction: column
  width: 500px !important
  display: flex
  transition: var(--var-transition)
  background: var(--var-buttons-bg)
  text-align: center
  justify-content: center
  span
    flex: 1
    transition: var(--var-transition)
    padding: 10px 10px
    min-width: max-content
    display: flex
    justify-content: flex-start
    &:hover
      background: var(--var-buttons-bg-hover)
  div
    height: 400px
    width: inherit
    backdrop-filter: var(--var-backdrop-blur)
    background: var(--var-interface-background)
    overflow-x: auto
    position: absolute
    top: 0px
    left: 0px
    display: flex
    flex-direction: column
    span
      display: flex
      background: var(--var-buttons-bg)
      text-align: center
      justify-content: center
      align-items: center