.toggle
  padding: 7px 12px
  background: #353535
  border-radius: 5px
  color: #fff
  border: none
  transition: var(--var-transition)
  min-width: 55px
  cursor: pointer
  &:hover
    background: #404040
    

.toggleOn
  background: #94ff6a88
  &:hover
    background: #94ff6aaa

.levelProgress
  width: max-content
  display: flex
  width: 200px
  flex-direction: row !important
  span
    background: #818181
    display: inline-block
    padding: 2px
    height: 2px
    &:last-child
      background: #3d3d3d